#map {
  height: 700px;
  width: 80%;
}

.all {
  display: flex;
  flex-direction: row;
  margin: 2rem;
}

.right {
  margin-left: 1rem;
}

.header {
  height: 6rem;
  width: 100%;
  background-color: yellowgreen;
  display: flex;
  flex-direction: row;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#date {
  position: absolute;
  right: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: white;
  margin: 0.3rem;
  padding: 0.5rem;
  border-radius: 10px;
}

ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
}

li {
  background-color: rgb(198, 255, 83);
  border-radius: 10px;
  width: 100%;
  height: 35px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
}

.green,
.red,
.total {
  font-weight: bold;
  width: 20%;
  height: 35px;
  background-color: yellowgreen;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  margin-left: 2.5rem;
}

.buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

button {
  background-color: yellowgreen;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: green;
}
